<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  {% if auth.encrypted %}
  <pre>{{auth.encrypted}}</pre>
  <form action="" method="post" name="">
      {{ form.hidden_tag() }}
      <p>
          Challenge:<br>
          {{ form.challenge(size=80) }}<br>
          {% for error in form.challenge.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit"></p>
  </form>
  {% else %}
  <pre>No pending auths.</pre>
  {% endif %}
  <a href="{{url_for('login')}}">Login</a><br>
  <a href="{{url_for('register')}}">Register</a>
{% endblock %}